

<div class="container">
  <div class="banner-content">
    <h1>{{ section.settings.tisso_version }}</h1>
    <p>{{ section.settings.banner_subtitle }}</p>
    <a href="" class="btn-choose-gift">{{ section.settings.choose_gift }}</a>
  </div>
  <div class="banner-image">
    <img src="{{ 'xyz.jpg' | asset_url }}" alt="Gift Guide">
  </div>
</div>
<div class="banner-footer">
  <h2>{{ section.settings.gift_guide_title }}</h2>
  <p>{{ section.settings.gift_guide_descriptions }}</p>
</div









