{% stylesheet %}
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .image-item {
    position: relative;
    margin: 10px;
    flex: 1 0 30%; /* 3 images in a row on desktop */
    max-width: 30%;
  }

  .image-item img {
    width: 100%;

    height: 100%;
    object-fit: cover;
    display: block;
  }

  /* .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 1;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

  .overlay-button {
    position: absolute;
    top: var(--LOOK-Y-POS);
    left: var(--LOOK-X-POS);
    background-color: #fff;
    color: #000;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    padding: -1px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .look-heading {
    text-align: left;
    padding: 10px 0;
    background-color: #fff;
    color: #333;
  }
  @media (max-width: 768px) {
    .image-item {
      flex: 1 0 45%; /* 2 images in a row on mobile */
      max-width: 45%;
    }
  }
{% endstylesheet %}
<h1>{{ section.settings['grid-title'] }}</h1>

<div class="image-grid">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'product' %}
        {% assign product = block.settings.product %}
        <div class="image-item">
          {% if product.featured_media %}
            <img src="{{ product.featured_media | image_url: width:500 }}" alt="Image 1">
          {% else %}
            {{ 'product-1' | placeholder_svg_tag }}
          {% endif %}

          <button
            style="
              --LOOK-X-POS:{{ block.settings.position_x }}%;
              --LOOK-Y-POS:{{ block.settings.position_y }}%;
            "

            class="overlay-button"
          >
            +
          </button>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Products Look Grid",
  "tag": "section",
  "class": "section",

  "settings": [
    {
      "type": "text",
      "id": "grid-title",
      "label": "Set Grid Heading",
      "default": "Tisso Vison In The Wild"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 6,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Choose a product"
        },
        {
          "type": "range",
          "id": "position_x",
          "label": "Set popup button x position",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "position_y",
          "label": "Set popup button Y position",
          "max": 100,
          "min": 0,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ]
}
{% endschema %}
