<style>
    .desktop ul {
      background-color: #f5f5f5;
      color: #333;
      height: 50px;
      height: 100%;
      padding: 20px 80px;
      list-style-type: none;

      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;


  }

  .mobile  {
    background-color: #f5f5f5;
    color: #333;
      min-height: 70px;
      height: 100%;
      padding: 20px 10px;
      display: none;
  }

    .mobile .logo{
      flex:1;
      text-align: center;
    }
    #menu-toggle{
      display: none;
    }
    .menu-icon {
      display: block;
      color: #333;
      font-size: 36px;
      cursor: pointer;
      position: absolute; /* Position the menu icon */
      left: 20px; /* Adjust the left position as needed */
      top: 15px; /* Adjust the top position as needed */
    }

    .mobile-list{
      padding-bottom: 29px;
      display: flex;
      list-style: none;
      flex-direction: column;
      background-color: #f5f5f5;
      align-items: center;
      position: absolute;
      gap: 12px;
      top: 70px;
      width: 100%;
      z-index: 10;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
    }

    #menu-toggle:checked ~ .mobile-list {
      transform: scale(1, 1);
    }
    @media only screen and (max-width: 768px) {
      .desktop{

          display: none;
      }
      .mobile{
          display: flex;
      }

    }


     .header-title {
      height: 19px;
      margin: 0;
    }

    .header-msg {
      font-size: 16px;
      font-weight: 400;
      color: #333 !important;
    }
     .header-link {
      position: relative;
      text-decoration: none;
      background: yellow;
      color: #333;
      height: 44px;
      width: 207px;
      padding: 13px 60px;
      background-position: right;
      background-size: 200%;
      background-image: linear-gradient(to left, yellow 50%, #333 50%);
      transition: all 0.3s;
    }
    .header-link:hover {
      background-position: left;
      color: #fff;
    }
    .header-link::after {
      content: '→';
      position: absolute;
      top: 15px;
      right: 15px;
      transform: translateY(-50%);
      font-size: 40px;
    }
    .hero {
      height: 780px;
      background-size: cover;
      background-position: center;
      position: relative;
      color: #333;
      text-align: center;
      overflow: hidden;
      margin: 10px 87px;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0); /* Adjust the alpha value for the overlay color */
    }

    .hero-content {
      position: absolute;
      z-index: 1;
      left: 0px;
      bottom: 0px;
      background: #fff;
      width: 500px;
      color: #333;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .hero-content .title {
      font-size: 70px;
      font-weight: 500;
      margin: 0px;
      color: #333 !important;
    }

    .hero-content .msg {
      font-size: 18px;
      margin-bottom: 40px;
      text-align: left;
    }
    .hero-content .btn {
      position: relative;
      cursor: pointer;
      background: #333;
      color: #fff;
      font-size: 18px;
      padding: 15px 70px;
      background-position: right;
      background-size: 200%;
      background-image: linear-gradient(to left, #333 50%, yellow 50%);
      transition: all 0.3s;
    }
    .hero-content .btn:hover {
      background-position: left;
      color: #333;
    }
    .hero-content .btn::after {
      content: '→';
      position: absolute;
      right: 12px;
      transform: translateY(-50%);
      font-size: 55px;
    }
    .banner-footer {
      background-color: #f5f5f5;
      color: #333;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    {% comment %} HEADER CSS {% endcomment %}


    @media (max-width: 768px) {
      {% comment %} .header-msg, .header-link {
        display: none;
      } {% endcomment %}
      .hamburger{
        display:flex;
      }
      {% comment %} .header-title {
        text-align: left;
        flex-grow: 0;
      } {% endcomment %}
      .hm{
        display:block !important;
      }
      .footer-msg{
        text-align:center;
      }
      .overlay{
        top:15%;
      }
      .hero {
        height: 400px;
        background-size: cover;
        background-position: center;
        position: relative;
        color: #333;
        text-align: center;
        overflow: hidden;
        margin: 10px 10px;
      }
      .hero-content {
        position: absolute;
        z-index: 1;
        top:2px;
        bottom:40%;
        /* color: #fff; */
        background: #fff;
        width: 100%;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;}
        .hero-content .msg {
          font-size: 15px;
          margin-bottom: 20px;
          text-align: center;
        }
      .hero-content .title {
        font-size: 35px;

      }
    }
</style>

{% comment %}
  <div class="header">
    <div class="hamburger" onclick="toggleMenu()">
      <div class="hm"></div>
      <div class="hm"></div>
      <div class="hm"></div>
    </div>
    <div class="menus">
      <h2 class="header-title">{{ section.settings['header-title'] }}</h2>
      <p class="header-msg">{{ section.settings['header-msg'] }}</p>
      <a class="header-link" href="#"> {{ section.settings['header-button-text'] }} </a>
    </div>
  </div>
{% endcomment %}

<header>
  <div class="desktop">
    <ul>
      <li>
        <h2 class="header-title">{{ section.settings['header-title'] }}</h2>
      </li>
      <li>
        <p class="header-msg">{{ section.settings['header-msg'] }}</p>
      </li>
      <li>
        <a class="header-link" href="#"> {{ section.settings['header-button-text'] }} </a>
      </li>
    </ul>
  </div>

  <div class="mobile">
    <div class="logo">
      <h2 class="header-title">{{ section.settings['header-title'] }}</h2>
    </div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul class="mobile-list">
      <li>
        <p class="header-msg">{{ section.settings['header-msg'] }}</p>
      </li>
      <li>
        <a class="header-link" href="#"> {{ section.settings['header-button-text'] }} </a>
      </li>
    </ul>
  </div>
</header>

<div class="hero">
  <div class="overlay">
    {{ 'lifestyle-2' | placeholder_svg_tag }}
    {{ 'lifestyle-2' | placeholder_svg_tag }}
  </div>

  <div class="hero-content">
    <div class="title">{{ section.settings['overlay-heading'] }}</div>
    <p class="msg">{{ section.settings['overlay-msg'] }}</p>
    <button class="btn">{{ section.settings['overlay-button'] }}</button>
  </div>
</div>
<div class="banner-footer">
  <p class="footer-msg">{{ section.settings['banner-footer'] }}</p>
</div>

<script>
  function toggleMenu() {
    const msg = document.querySelector('.header-msg');
    const link = document.querySelector('.header-link');
    msg.style.display = msg.style.display === 'none' || msg.style.display === '' ? 'block' : 'none';
    link.style.display = link.style.display === 'none' || link.style.display === '' ? 'block' : 'none';
  }
</script>

{% schema %}
{
  "name": "Landing Page Banner",
  "tag": "section",
  "class": "section",

  "settings": [
    {
      "type": "text",
      "id": "header-title",
      "label": "Set Header Title",
      "default": "Afzal Test Shop"
    },
    {
      "type": "text",
      "id": "header-msg",
      "label": "Set Header Message",
      "default": "Find the ideal gift for your loved ones"
    },
    {
      "type": "text",
      "id": "header-button-text",
      "label": "Set Header Button text",
      "default": "CHOOSE GIFT"
    },
    {
      "type": "inline_richtext",
      "id": "overlay-heading",
      "label": "Set Overlay Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "inline_richtext",
      "id": "overlay-msg",
      "label": "Overlay message",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "overlay-button",
      "label": "Set Overlay Button text",
      "default": "SHOP NOW"
    },
    {
      "type": "inline_richtext",
      "id": "banner-footer",
      "label": "Set Banner footer text message",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ]
}
{% endschema %}
