<style>
  .header {
    background-color: #f5f5f5;
    color: #333;
    height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header .header-title {
    height: 19px;
    margin: 0;
  }
  ,
  .header .header-msg {
    font-size: 16px;
    font-weight: 400;
    color: #333 !important;
  }
  .header .header-link {
    text-decoration: none;
    background: yellow;
    color: #333;
    height: 44px;
    width: 207px;
    padding: 10px;
  }
  .hero {
    height: 780px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #333;
    text-align: center;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0); /* Adjust the alpha value for the overlay color */
  }

  .hero-content {
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    background: #fff;
    padding: 20px;
    width: 500px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-content .title {
    font-size: 70px;
    font-weight: 500;
    margin: 0px;
    color: #333 !important;
  }

  .hero-content .msg {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: left;
  }
  .hero-content .btn {
    background: black;
    color: white;
    padding: 10px 20px;
  }
  .banner-footer {
    background-color: #f5f5f5;
    color: #333;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="header">
  <h2 class="header-title">{{ section.settings['header-title'] }}</h2>
  <p class="header-msg">{{ section.settings['header-msg'] }}</p>
  <a class="header-link" href="#"> {{ section.settings['header-button-text'] }} </a>
</div>

<div class="hero">
  <div class="overlay">
    {{ 'lifestyle-2' | placeholder_svg_tag }}
    {{ 'lifestyle-2' | placeholder_svg_tag }}
  </div>

  <div class="hero-content">
    <div class="title">{{ section.settings['overlay-heading'] }}</div>
    <p class="msg">{{ section.settings['overlay-msg'] }}</p>
    <button class="btn">{{ section.settings['overlay-button'] }}</button>
  </div>
</div>
<div class="banner-footer">
  <p class="footer-msg">{{ section.settings['banner-footer'] }}</p>
</div>

{% schema %}
{
  "name": "Landing Page Banner",
  "tag": "section",
  "class": "section",

  "settings": [
    {
      "type": "text",
      "id": "header-title",
      "label": "Set Header Title",
      "default": "Afzal Test Shop"
    },
    {
      "type": "text",
      "id": "header-msg",
      "label": "Set Header Message",
      "default": "Find the ideal gift for your loved ones"
    },
    {
      "type": "text",
      "id": "header-button-text",
      "label": "Set Header Button text",
      "default": "CHOOSE GIFT"
    },
    {
      "type": "inline_richtext",
      "id": "overlay-heading",
      "label": "Set Overlay Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "inline_richtext",
      "id": "overlay-msg",
      "label": "Overlay message",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "overlay-button",
      "label": "Set Overlay Button text",
      "default": "SHOP NOW"
    },
    {
      "type": "inline_richtext",
      "id": "banner-footer",
      "label": "Set Banner footer text message",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ]
}
{% endschema %}
